<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1"/>
    <title>View test</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $.getJSON("http://localhost:8080/boot/user", function(result){
                $.each(result, function(key,value) {
                    $("#productsJson").append(value.id+" "+value.username+" ");
                });
            });
        });
    </script>
</head>

<body>
<div id = "productsJson">123 </div>
</body>
</html>
