<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dfec.springbootmybatisplus.mapper.UserMapper">

    <sql id="BASE_TABLE">
        user
    </sql>

    <!--<resultMap id="BaseResultMap" type="com.example.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="realName" jdbcType="VARCHAR" property="realName" />
    </resultMap>-->

    <select id="findById" resultType="com.dfec.springbootmybatisplus.entity.User">
        select * from
        <include refid="BASE_TABLE"/>
        where id = #{id}
    </select>

    <insert id="addUser" parameterType="com.dfec.springbootmybatisplus.entity.User" >
        insert into
        <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="realname != null">realname,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="realname != null">#{realname},</if>
        </trim>
    </insert>

    <select id="findAllUser" resultType="com.dfec.springbootmybatisplus.entity.User">
        select * from
        <include refid="BASE_TABLE"/>
    </select>

    <update id="updataUser" parameterType="com.dfec.springbootmybatisplus.entity.User">
        update
        <include refid="BASE_TABLE"/>
        <trim prefix="set " suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="realname != null">realname = #{realname},</if>
        </trim>
        <where>id = #{id}</where>
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="BASE_TABLE"/>
        WHERE id=#{id}
    </delete>

</mapper>